* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000 url("img/weather1.jpg") no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  height: 100vh;
  color: #fff;
}

h1 {
  text-align: center;
  color: burlywood;
  font-weight: bold;
}
.container {
  position: absolute;
  margin: auto;
  top: 97px;
  left: 0;
  right: 0;
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 300px;
  width: 600px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 12px;
  /* box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15); */
  box-shadow: 0 27px 55px 0 rgb(221 84 84 / 58%),
    0 17px 17px 0 rgba(0, 0, 0, 0.4);
}
.weatherIcon {
  flex: 1 100%;
  height: 60%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #fafafa;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}
i {
  padding-top: 30px;
}

.weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: 12px;
  display: flex;
  align-items: center;
  color: white;
}
.temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 65px;
  display: flex;
  justify-content: space-around;
}

.description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.weatherCondition {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 100;
}

.place {
  font-size: 15px;
}

.date {
  flex: 0 0 30%;
  height: 40%;
  background: #70c1b3;
  border-bottom-right-radius: 12px;
  /* border-bottom-left-radius: 12px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}

a {
  text-decoration: none;
  color: #e4d6a7;
  font-size: 10px;
}

@media (min-width: 315px) and (max-width: 600px) {
  .widget {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 189px;
    width: 254px;
    display: block;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    cursor: pointer;
  }

  .temperature {
    font-size: 52px;
  }
  .weatherCondition {
    font-size: 27px;
  }
}
